@import "./variables";

.flexrow {
    width: 100%;
    @include flexRow;
    justify-content: space-evenly;
    .flexcolumn:nth-child(1) {
        background-color: $accentColor;
        justify-content: space-evenly;
        font-size: 1.2618em;
        text-align: left;
        p:nth-child(1) {
            text-align: right;
        }
    }
    .flexcolumn:nth-child(2), .flexcolumn:nth-child(3) {
        background-color: $backgroundColor;
        color: $darkColor;
    }
}

.flexcolumn {
    @include flexColumn;
    width: 100%;
    padding: 2vh 0;
    @include breakpoint(laptop) {
        width: 30%;
    }
    div.infoday:nth-of-type(1) {
        border-top: 1px solid #ccc;
        padding-top: 1vh;
    }
    .infoday {
        @include flexBetween;
        border-bottom: 1px solid #ccc;
        margin-bottom: 2vh;
        p {
            margin-bottom: 1vh;
        }
    }
    a.call {
        text-align: center;
    }
}

.contact {
    @extend %content;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.start {
    @extend %content;
    @include flexRow;
    flex-direction: row-reverse;
    padding: 0;
    border: 0;
    .map {
        width: 100%;
        
    }
    .info {
        min-width: 400px;
        background-color: rgba(20,20,20,0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2vh;
        color: $primaryColor;
        img {
            max-width: 600px;
        }
    }
}

.location {
    h3{
        @extend %contentitle;
    }
    span {
        font-family: $sansfont2;
        // text-transform: uppercase;
        font-size: 0.75em;
        display: block;
    }
}

.hours {
        @include flexRow;
        justify-content: center;
        align-content: center;
        color: $primaryColor;
        margin: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        .details {
            width: 100%;
            justify-items: center;
            align-content: center;
            text-align: left;
            margin: 0 auto;
            color: $primaryColor;
            h4 {
                text-align: center;
                margin: 10px auto;
                // color: $accentColor2;
                font-weight: 400;
                font-family: $sansfont;
                text-transform: uppercase;
            }
            span {
                font-family: $sansfont2;
                // text-transform: uppercase;
                font-size: 0.75em;
                display: inline-block;
                padding-left: 10px;
                // padding-bottom: 5px;
                i {
                    font-style: initial;
                    margin-left: 20px;
                }
            }
            .phone {
                margin: 0 auto;
                p {
                    font-family: $sansfont2;
                    font-size: 0.75em;
                    padding-left: 10px;
                    i {
                        font-style: initial;
                        margin-left: 20px;
                        span {
                            display: block;
                            text-indent: 32px;
                        }
                    }
                }
            }
        
            button {
                border-radius: 5px;
                background-color: transparent;
                border: 1px solid #ccc;
                color: #fff;
                text-transform: uppercase;
                font-family: $sansfont;
                font-size: 0.75em;
                max-width: 70%;
                margin: 0 auto;
                padding: 1vh 2vh;
            }
        }
    }

    .day {
        // margin-right: 5px;
        // text-align: right;
        // border-right: 2px solid $accentColor2;
        // padding-right: 10px;
        }
    .time {
        
        // padding-left: 5px;
        // margin-left: 5px;
    }