@import "./variables";

.header__menu {
  background: transparent;
  margin-bottom: 1.45rem;
  position: fixed;
  top: 0;
  font-family: $seriffont;
  @include flexBetween();
  align-items: center;
  z-index: 11;
  padding: 0 3vh;
  width: 100%;
  @include breakpoint(mobileonly) {
    padding: 0 2vh;
    justify-content:first baseline;
    align-items: flex-start;
    background-color: $accentColor;
    height: 7.5vh;
  }
}

.header__logo {
  @include flexCenter();
  @include breakpoint(mobileonly) {
    justify-content: first baseline;
    align-items: flex-start;
  }
  img {
    width: 60px;
    padding-top: 1vh;
    margin-bottom: 0;
    @include breakpoint(mobileonly) {
    padding-top: 1vh;
  }
  }
}

.header__nav {
  display: flex;
  padding-top: 2vh;
  justify-content: flex-end;
  width: 100%;
}

.navMenu {
  display: flex;
  justify-content: "space-evenly";
  list-style: none;
  transition: all 0.5s ease-in-out;
  @include breakpoint(mobileonly) {
    justify-content:first baseline;
    flex-direction: column;
    list-style-type: none;
    position: relative;
    top: 5vh;
    opacity: 0;
    background-color: #222;
    width: 100%;
    padding: 2vh;
    margin: 0;
    display: none;
    // > * {
    //   padding: 1vh;
    // }
  }
  &.active {
    @include breakpoint(mobileonly) {
      opacity: 1;
      display: block;
      transition: all 0.5s ease-in-out;
    }
  }
  li {
    margin: 2vh 3vh;
    // color: $primaryColor;
    &:hover {
        color: $accentColor2;
    }
}
a {
    @extend %navLink;
    font-size: 1.1em;
    &:hover {
      color: $accentColor2;
    }
  }
}

.mobileMenu {
    display: none;
    @include breakpoint(mobileonly) {
      display: block;
    }
    // @include breakpoint(phablet) {
    //     display: none;
    // }
  }

.icon {
  color: #fff;
  margin-right: 2vh;
  filter: drop-shadow(1px 1px 8px rgb(0 0 0 / 0.4));
}