@import "./variables";

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    @include breakpoint(phablet) {
        height: 60vh;
    }
    @include breakpoint(mobileonly) {
        height: 50vh;
    }
    .frame {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 60px;
        max-width: 1380px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(mobileonly) {
            padding: 0;
        }
        .content {
            position: absolute;
            top: 20vh;
            z-index: 10;
            width: 60%;
            margin: 0 auto;
            @include breakpoint(desktop) {
                top: 40vh;
            }
            @include breakpoint(phablet) {
                top: 20vh;
            }

            .title {
                overflow: hidden;
                h1 {
                    font-family: $sansfont;
                    color: $primaryColor;
                    text-transform: uppercase;
                    text-align: center;
                    text-shadow: rgba(0, 0, 0, 0.6) 0px 30px 90px;
                    @include breakpoint(desktop) {
                        font-size: 4.35em;
                        line-height: 80px;
                    }
                    @include breakpoint(phablet) {
                        font-size: 3.35em;
                        line-height: 1.5em;
                    }
                    @include breakpoint(mobileonly) {
                        display: none;
                    }
                    small {
                        font-size: 0.32em;
                        font-weight: 400;
                        font-style: italic;
                        font-family: $seriffont;
                        text-transform: lowercase;
                        position: relative;
                        top: -40px;
                        &::before, &::after {
                            content: "";
                            position: absolute;
                            height: 6px;
                            // border-bottom: 1px solid white;
                            border-top: 1px solid white;
                            top: 18px;
                            width: 100px;
                                
                        }
                        &::before {
                            right: 100%;
                            margin-right: 15px;
                        }
                        &::after {
                            left: 100%;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
    img {
        -webkit-transition: all .75s ease-in-out;
        transition: all .75s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &::before {
        background-color: #231f20;
        transform: translateX(100%);
    }
    &::after {
        background-color: rgba(11, 10, 10, 0.3);
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.75s ease-in-out;
    }
}

