@import "./variables";



.content {
    @extend %content;
    border-top: 0;
    @include breakpoint(mobileonly) {
        padding: 2vh 2vh;
    }
}

.location {
    @extend %content;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    @include breakpoint(laptop) {
        flex-direction: row;
    }
    @include breakpoint(mobileonly) {
        flex-direction: column-reverse;
    }

    .map {
        width: 100%;
    }
    .info {
        min-width: 400px;
        background-color: $accentColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2vh;
        color: $primaryColor;
        @include breakpoint(mobileonly) {
            width: 100%
        }

        h3 {
            // text-transform: uppercase;
            font-family: $seriffont;
            font-size: 1.25em;
            font-weight: 400;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 30px;
        }
        p {
            font-family: $sansfont2;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;
        }
        .day {
            margin-right: 5px;
            text-align: right;
            border-right: 2px solid $accentColor2;
            padding-right: 10px;
        }
        .time {
            
            text-align: left;
        }
    }
}

.hero {
    color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    h1, p {
        color: $primaryColor;
    }
}

.about {
    position: relative;
    z-index: 5;
    .background {
        position: absolute;
        height: auto;
        width: 100%;
        top: 0;
        right: 0;
        opacity: 0.1;
        z-index: 1;
        img {
            width: 100%;
        }
    }
    
    & > * {
        padding: 10vh 0;
        // background-color: yellow;
    }
    div:nth-child(1) {
        // background-color: red;
        z-index: 1;
    }

    p {
        font-size: 1.5em;
        font-style: italic;
        color: $accentColor;
    }
    
    h4 {
        font-size: 1.5em;
        font-style: italic;
        font-weight: 300;
        color: $darkColor;
        font-family: $seriffont;
        line-height: 1.5;
    }  

}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
    h3 {
        flex-direction: column;
        justify-items: center;
        align-content: center;
        text-align: center;
        margin: auto 0;
        max-width: 400px;
        font-family: $sansfont;
        font-size: 2.25em;
        line-height: 10px;
        color: $darkColor;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        small {
            font-size: 0.5em;
            font-weight: 400;
            font-style: italic;
            font-family: $seriffont;
            text-transform: initial;
            position: relative;
            top: -20px;
            &::after {
                content: "\a";
                white-space: pre;
            }
            &::before {
                content: "\a";
                white-space: pre;
            }
        }
        span {
            font-size: 0.72em;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 3px;
            // font-style: italic;
            font-family: $sansfont;
            text-transform: initial;
            &::before {
                content: "\a";
                white-space: pre;
            }
        }
    }  
}



.contact {

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 5px;
    grid-auto-flow: dense;
    & img {
        width: 100%;
        height: 100%;
    }
    h3 {
        flex-direction: column;
        justify-items: center;
        align-content: center;
        text-align: center;
        margin: auto 0;
        margin-left: 75px;
        // max-width: 400px;
        font-family: $sansfont;
        font-size: 2.25em;
        line-height: 10px;
        color: $darkColor;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        small {
            font-size: 0.5em;
            font-weight: 400;
            font-style: italic;
            font-family: $seriffont;
            text-transform: initial;
            position: relative;
            top: -20px;
            &::after {
                content: "\a";
                white-space: pre;
            }
            &::before {
                content: "\a";
                white-space: pre;
            }
        }
        span {
            font-size: 0.72em;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 3px;
            // font-style: italic;
            font-family: $sansfont;
            text-transform: initial;
            &::before {
                content: "\a";
                white-space: pre;
            }
        }
    }  
    .horizontal {
        grid-column: span 2;
    }
    .vertical {
        grid-row: span 2;
    }
    .big {
        grid-row: span 2;
        grid-column: span 2;
    }
    @media screen and (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    }
}

// Card
.testimonial {
	background-color: var(--card-blue);
	border-radius: 5px;
	padding: 40px 25px 25px;
	flex-grow: 1;
	flex-basis: 280px;
	max-width: 360px;
	position: relative;
	
	// Fonts 	
	&__text {
		font-weight: normal;
		line-height: 21px;
	}
	
	&__job {
		font-weight: normal;
		line-height: 10px;
		letter-spacing: 0.5px;
	}
	
	&__name {
		font-weight: bold;
		line-height: 12px;
		letter-spacing: 0.5px;
		margin-bottom: 5px;
	}

	// Bottom layout
	&__img {
		display: inline-block;
		width: 30px;
		margin-right: 10px;

		img {
			vertical-align: bottom;
			border-radius: 50%;
		}
	}

	&__info {
		display: inline-block;
	}
}	

// General Styles
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	// Specific Styles
	&--testimonials {
		display: flex;
		flex-wrap: wrap;
		gap: 25px 40px;
		justify-content: center;
		padding: 45px 45px 90px;

		@media (min-width: 78.125em) {
			padding: 0;
			max-width: 1160px;
		}
	}
}